<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Cthulhu Clicker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div class="wrapper">
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink" id="logoutButton"><a href="/logout">Log out</a></div>
    <div class="navlink" id="gameButton"><a href="/game">Game</a></div>
    <div class="navlink" id="changePWButton"><a href="/changePW">Change Password</a></div>
    <div class="navlink" id="guideButton"><a href="/rules">Guide</a></div>
    <div class="navlink" id="leaderboardButton"><a href="/leaderboard">Leaderboard</a></div>
    <div class="navlink" id="marketButton"><a href="/market">Market</a></div>
    <div class="navlink" id="designButton"><a href="/design">Design</a></div>
    <section class="spanner"></section>
  </nav>
    <section id="gameGoesHere"></section>
    <section id="saveForm"></section>
    <div class="push"></div>
  </div>
  <footer>
    Stephen Callen | 2018
  </footer>
  <div id="domoMessage"><img id="speech" src="/assets/img/marble.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/gameBundle.js"></script>
  <script src="/assets/bundle.js"></script>
</body>
</html>