<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Cthulhu Clicker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <div class="wrapper">
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/login">Login</a></div>
    <div class="navlink"><a href="/signup">Sign up</a></div>
  </nav>
  <section id="content"></section>
    <div class="push"></div>
  </div>
  <footer>
    Stephen Callen | 2018
  </footer>
  <div id="domoMessage"><img id="speech" src="/assets/img/marble.png" alt="speech box"/>
    <h3><span id="errorMessage">Wrong username or password</span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>