<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Cthulhu Clicker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div class="wrapper">
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    
  </nav>
  <h1>Page Not Found</h1>
    <img id="squidward" src="/assets/img/squidward.jpg" alt="squidward"/>
    <div class="push"></div>
  </div>
  <footer>
    Stephen Callen | 2018
  </footer>
  <script src="/assets/bundle.js"></script>
</body>
</html>