html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: lunch;
}

body {
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: 'lunch';
    src: url('fonts/lunchds.ttf');
}
      
#lunch {
    font-family: lunch, sans-serif;
    display: none;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

.hide {
    display: none;
}

footer {
    width: 100%;
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.push {
  height: 50px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #334842;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    background-color: #334842;
    border-radius: 2px;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #627C74;
}

.domoForm {
    border: 2px solid #338acc;
    height: 35px;
    width: 700px;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.domoForm input[type=text] {
    float:left;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.2em;
    color: black;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 200px;
    background-color: #334842;
    border-radius: 2px;
    border-color: #456058;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    
}

input {
  font-family: lunch;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #627C74;
}

#user, #pass, #pass2, #name {
    text-align: center;
    font-size: 1em;
    width: 220px;
}
#pass::placeholder, #pass2::placeholder {
    font-family: lunch;
}
#pass, #pass2 {
    font-family: Arial;
}

#user:focus, #pass:focus, #pass2:focus, #name:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #17221F;
}

#domoMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 200px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    color: white;
    font-family: lunch;
    text-align: center;
}

#myCanvas {
    margin: auto;
    width: 590px;
    display: block;
}

h3 {
  font-weight: normal;
}
.god {
  text-align: center;
}

#godList {
  width: 600px;
  background-color: #334842;
  color: white;
  margin: auto;
  padding: 50px;
  padding-top: 10px;
  margin-top: 50px;
}

#godList .label {
  color: yellow;
}

.godEntry{
  display: block;
  padding: 2px;
  background-color: #466159;
  border-radius: 2px;
  margin-top: 5px;
  height: 1em;
}
.godEntry p {
  display: inline;
  width: 50%;
  float: left;
  margin: 0;
}

#guide{
  width: 60%;
  background-color: #466159;
  color: black;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  padding-top: 10px;
}

#guide h3{
  color: yellow;
  margin-bottom: 0;
}

#guide p{
  margin-top: 5px;
}

h1{
  font-weight: normal;
  text-align: center;
}

#squidward{
  margin: auto;
  width: 600px;
  display: block;
}